html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(48, 48, 48);
}

p {
    color: gray;
}

a {
    color: rgb(48, 48, 48);
    text-decoration: none;
}

.center {
    text-align: center;
}

.all-caps {
    text-transform: uppercase;
}

/* Header Styling */
header {
    padding: 0 1.5rem;
    height: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* (Logo Styling) */
#logo {
    display: inline-flex;
    height: 2rem;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 0.03125rem;
}

#logo #Colmar {
    font-weight: bold;
}

/* (Nav Styling) */
nav {
    display: inline-flex;
}

/* Banner Styling */
#banner {
    display: flex;
    background-color: lightgray;
    align-items: center;
}

#banner img {
    width: 100%;
}

#banner .right {
    flex-direction: column;
    justify-content: space-around; 
    padding-right: 10%;
}

#banner button {
    text-align: center;
    color: white;

    background-color: rgb(48, 48, 48);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    
    width: 100%;
}

/* Information Styling */
#information {
    display: flex;
    align-items: start;
}

#information .left p {
    padding-top: 1.5rem;
}

#information .left {
    border-right: 0.0625rem solid rgba(211, 211, 211, 0.5);
}

#information .left img {
    width: 100%;
}

.info-block {
    display: flex;
    align-items: center;
    border-bottom: 0.0625rem solid rgba(211, 211, 211, 0.5);
}

#information .right .info-text {
    display: inline-block;
    width: 65%;
}

#information .right h3, #information .right p, #information .right a {
    margin-bottom: 0.5rem;
}

/* Courses Styling */
#course-header {
    padding: 2rem 0;
    margin: 0;
}

#courses {
    background-color: lightgray;
}

.course-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 3.5rem;
}

.course-block {
    display: inline-block;
    background-color: white;
    width: 17.5rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.course-block img {
    width: 100%;
}

.course-text {
    padding: 1rem;
}

/* Thesis Styling */
#thesis {
    display: flex;
    align-items: start;
}

#thesis video {
    width: 100%;
}

#thesis h3, #thesis p {
    margin-bottom: 0.5rem;
}

.thesis-block {
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

#thesis .right img {
    display: inline-block;
    width: 35%;
    margin: 1rem;
}

#thesis .right .thesis-text {
    display: inline-block;
    width: 65%;
}

/* Footer Styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border-top: 0.0625rem solid rgba(211, 211, 211, 0.5);
}

.footer-right {
    display: block;
}

.footer-right a {
    color: gray;
    margin-left: 0.5rem;
}

/* Desktop Styling Changes */
@media only screen and (min-width: 768px) {
    /* Navigation Styling */
    .mobile-nav {
        display: none;
    }

    nav ul {
        list-style-type: none;
    }
    
    nav li {
        margin-left: 1rem;
        display: inline flex;
        align-items: center;
    }
    
    /* Left and Right Container Styling */
    .left {
    display: inline-block;
    width: 60%;
    padding: 2rem 1.5rem;
    }

    .right {
    display: inline-block;   
    width: 40%;
    }

    /* (Information) Image Styling */
    .desktop-img {
        display: inline-block;
        padding: 1rem;
    }

    .mobile-img {
        display: none;
    }
}

/* Mobile Styling Changes */
@media only screen and (max-width: 768px) {
    /* Nav Styling */
    #Colmar, #Academy, .desktop-nav {
        display: none;
    }

    header {
        justify-content: space-around;
    }
    
    /* Banner Styling */
    #banner {
        display: block;
    }

    #banner .left {
        width: 100%;
    }

    #banner .right {
        padding: 1rem 2rem;
        width: 100%;
    }

    #banner button {
        width: 90%;
    }

    /* Information Styling */
    #information {
        display: block;
        border-bottom: 0.0625rem solid rgba(211, 211, 211, 0.5);
    }

    .info-block {
        display: block;
        border: none;
        padding: 1rem 1rem 2rem 1rem;
        margin-bottom: 4rem;
    }

    .info-block a {
        color: #1BA6CF;
    }

    #information .left {
        display: none;
    }

    #information .right {
        width: 100%;
    }

    .info-text {
        display: block;
        padding-left: 1rem;
    }

    /* (Information) Image Styling */
    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: block;
        width: 100%;
    }

    .mobile-img img {
        width: 100%;
    }

    /* Course Styling */
    #courses {
        background-color: white;
        border-bottom: 0.0625rem solid rgba(211, 211, 211, 0.5);
    }

    .course-content img, .course-content p{
        display: none;
    }

    .course-content h3 {
        display: block;
        background-color: lightgray;
        padding: 1rem 1rem 1.5rem 1rem;
    }

    /* Thesis Styling */
    #thesis .right {
        display: none;
    }

    #thesis .left {
        width: 100%;
        padding: none;
    }

    #thesis .left h3, #thesis .left p {
        display: none;
    }

    /* Footer Styling */
    .footer-right {
        display: none;
    }
}