body {
    background-color: royalblue;

    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    font-weight: normal;
    color: white;
}

.topnav {
    padding: 0 30%;

    display: flex;
    justify-content: space-around;

    font-size: 1.5rem;
    text-align: center;
}

.topnav a {
    padding: 0.5rem 1rem;

    background-color: darkblue;
    border-radius: .5rem;

    color: white;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered-text {
    text-align: center;
}

.italics {
    font-style: italic;
}

.page-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;

    text-shadow: 5px 5px 10px #4a91ed;
}

/* Home Styling */
#walkthrough-video {
    width: 50%;
}

/* Contact Us Styling */
#contact-us h4 {
    margin: 0;
    text-decoration: underline;
}

#contact-us p {
    margin: .5rem 0 2rem 0;
}

#mon-fri-hours {
    margin: .5rem 0 0 0 !important;
}

#logo {
    margin-top: 2.75rem;
}

/* Reviews Styling */
#reviews {
    margin: 0 2.5rem;
}

.customer-container {
    margin-bottom: 1rem;
    padding: 1rem;

    background-color: #17309d;
    box-shadow: 10px 10px 10px #2a409f;
    
    border-radius: .5rem;

    text-align: center;
}

.customer-container h2 {
    display: inline;
}

.rating-container {
    margin-bottom: 1.5rem;
    /* -webkit-text-stroke: .5px black; */
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

.customer-container p {
    display: block;
    margin: .5rem 0 0 0;
}