.business {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 30rem;
}

.img {
    padding-bottom: 0.75rem;
}

.details {
    display: flex;
    justify-content: space-between;
}

.address {
    text-align: left;
}

.category-ratings {
    text-align: right;
}

.category, .rating {
    color: darkgoldenrod;
}